@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}
.font12{
    font-size: 12px;
    color: gray;
}
.t12{
    table-layout: auto;
    border: none;
}
.table-title{
    text-align: right;
}
.disnone{
  display: none;
}

.btn-circle-border-simple {
  display: inline-block;
  text-decoration: none;
  color: #007bff;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #007bff;
  text-align: center;
  overflow: hidden;
  transition: .4s;
  margin:0 auto;
}

.btn-circle-border-simple:hover {
  background: #007bff;
  color: white;
  text-decoration: none;
}

.twitter_card{
  background-color: #eaf6fd;
}

.reiwa_card{
  background-image: url('./images/hightech.jpg');
}

.font12_reiwa{
  font-size: 12px;
  color: white;
}

.reiwa a{
  color:white;
}

.btn.reiwa {
  color: white;
}

#fab {/*円の部分*/
  display: block;
  width: 56px;/*幅*/
  height: 56px;/*高さ*/
  background: #03a9f4;/*背景色*/
  text-align: center;/*中央寄せ*/
  border-radius: 50%;/*角丸く*/
  transition: .3s;/*滑らかな動きに*/
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#fab:hover {/*ホバー時*/
box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

#fab i {/*中央のアイコン*/
color: white;
line-height: 56px;/*＝幅と高さ*/
font-size: 18px;/*サイズ*/
}